@import url('https://fonts.googleapis.com/css2?family=Chewy');

*{
    margin: 0;
    padding: 0;
    color: white;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: rgb(57, 57, 57);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 100px;
}

h1 {
    font-size: 40px;
    text-shadow: 0 0 5px #2fd8e1, 0 0 15px #2fd8e1, 0 0 20px #2fd8e1, 0 0 40px #2fd8e1, 0 0 60px #29a8ae, 0 0 10px #29a8ae, 0 0 98px #29a8ae;
    color: #25e4ee;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 7s infinite;
    -webkit-animation: blink 7s infinite;
  }
  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #2fd8e1, 0 0 15px #2fd8e1, 0 0 20px #2fd8e1, 0 0 40px #2fd8e1, 0 0 60px #29a8ae, 0 0 10px #29a8ae, 0 0 98px #29a8ae;
    color: #25e4ee;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #2fd8e1, 0 0 15px #2fd8e1, 0 0 20px #2fd8e1, 0 0 40px #2fd8e1, 0 0 60px #29a8ae, 0 0 10px #29a8ae, 0 0 98px #29a8ae;
    color: #25e4ee;
    }
  }
  


.form {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.form p {
    font-size: 20px;
}
.form span {
    font-size: 24px;
    color: rgb(119, 254, 93);
}
input {
    color: #ffffff;
    border: 2px solid #64e5ff;
    border-radius: 10px;
    padding: 15px 10px;
    background: transparent;
    width: 350px;
    margin-top: 20px;
   }
   
input:active {
    box-shadow: 2px solid #64e5ff;
}
input::placeholder {
    color: rgb(180, 180, 180);
}

.button-containers {
    width: 50vw;
    height: 39vh;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button-containers button {
    width: 190px;
    height: 50px;
    background-color: transparent;
    border: 2.3px dashed #64e5ff;
    border-radius: 10px;
    margin: 0;
}
.button-containers button:hover {
    background-color: #64e5ff;
    color: black;
}

.reminder-container h2{
    color: rgb(130, 213, 255);
}
.reminder-container li {
    width: 550px;
    margin-left: 50px;
    word-wrap: break-word;
}
.result-container {
    width: 510px;
    margin-top: 30px;
}
.result-container h3{
    /* border: 1px solid white; */
    padding: 10px;
    height: auto;
    width: 490px;
    text-align: center;
    margin-top: 20px;
    word-wrap: break-word;
}

.result-container h2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 150px;
}
   
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 50px;
    }
    h1{
        font-size: 32px;
        text-align: center;
    }
    .command-container {
        width: 99vw;

    }
    #result {
        margin-top: -10vh;
    }

    .button-containers button {
        width: 130px;
        height: 50px;
        font-size: 12px;
        padding: 10px 10px;
    }
    .button-containers {
        width: 93vw;
    }
    .reminder-container h2, li {
        margin-left: 20px;
    } 
}